body {
  text-align: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-size:100% 100%;
  background: #0d47a1;
  background: linear-gradient(135deg, #ffeb3b, #42a5f5 60%, #0d47a1) fixed;
}

.new-cards {
  -webkit-transition: .5s;
  -moz-transition: .5s;
  -o-transition: .5s;
  transition: .5s;
  opacity: .1;
  visibility: hidden; 
}

.new-cards.show {
  opacity: 1;
  visibility: visible; 
}


.newCard.show {
  opacity: 1;
}

/* For use with ReactTransitionGroup  */
.newCard-enter {
  opacity: 0.01;
}

.newCard-enter.newCard-enter-active {
  opacity: 1;
  transition: opacity 1000ms ease-in;
}

.newCard-leave {
  opacity: 1;
}

.newCard-leave.newCard-leave-active {
  opacity: 0.01;
  transition: opacity 1000ms ease-in;
}

.fixed {
  width: 97%;
  display: block;
  float: right;
  position: fixed;
}

.pos-back-button {
  height: 5px;
}
